body{
    background-color: #FEF4DE;
    background-image: url("../img/Background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    margin: 0;
    padding: 0;
}

.Testemunhos{
    color:#7C4032;
    font-size: 16px;
    position: relative;
}

#Testymonials{
    color:#7C4032;
    font-size: 64px;
    text-align: center;
}

blockquote{
    margin: 0;
    padding: 30px;
    width: 482px;
    height: 162px;
    border-width: 1px;
    border-style: solid; /*Linhas 11,12 e 13 equivalem a border: 1px solid #7C4032; */
    border-color: #7C4032;
    border-radius: 30px;
    background-color: #FFFFFF;
    color: #333333;
    font-size: 14px;
}

#caixa1{
    position: relative;
    inset: 0 auto auto 25%;
    transform: translateX(-50%);
}

#caixa2{
    position: relative;
    inset: 0 auto auto 75%;
    transform: translate(-50%, -100%);
}

#caixa3{
    position: relative;
    inset: 0 auto auto 25%;
    transform: translate(-50%, -50%);
}

#caixa4{
    position: relative;
    inset: 0 auto auto 75%;
    transform: translate(-50%, -150%);
}

button{
    width: 210px;
    height: 66px;
    background-color: #F3CE5E;
    border-style: none;
    border-radius: 57px;
    color: #7C4032;
    font-size: 18px;
}

#Botao{
    display: block;
    margin: 0 auto;
    bottom: 200px;
}