body{
    background-color: #FEF4DE;
    background-image: url("../img/Background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.Testemunhos{
    color:#7C4032;
    font-size: 16px;
}

#Testymonials{
    font-size: 64px;
    text-align: center;
}

blockquote{
    position: relative;
    display: inline-block;
    width: 482px;
    height: 162px;
    border-width: 1px;
    border-style: solid; /*Linhas 11,12 e 13 equivalem a border: 1px solid #7C4032; */
    border-color: #7C4032;
    border-radius: 30px;
    background-color: #FFFFFF;
    padding: 30px;
    color: #333333;
    font-size: 14px;
    align-items: center;
}

button{
    width: 210px;
    height: 66px;
    display: inline-block;
    background-color: #F3CE5E;
    border-style: none;
    border-radius: 57px;
    color: #7C4032;
    font-size: 18px;
}