@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-color: #FEF4DE;
    background-image: url(../img/Background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.home{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 120px;
}
.home-textos{
   
    font-family: 'Poppins', sans-serif;
    color: #663128;
        
    
    
}
#home-texto-h1{
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 118.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#home-texto-h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 118.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#home-texto-p{
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    
}
#home-img{
    display: flex;
    height: 481.17px;
    width: 529.57px;    
}